.config/fish/fishd.tmp*
.config/github-copilot/
.config/gcloud/
.config/configstore/
.DS_Store
.config/kargo
.config/merctl
.config/octopus
.config/graphite
.config/fish/functions/ssvm.fish
.config/fish/functions/vm_toggle.fish
