layout {
    pane size=1 borderless=true {
        plugin location="zjstatus" {
            format_left  "#[fg=#272e33,bg=#a7c080,bold] {session} {pipe_neovim_top_tabs}"
            format_right "{mode}"
            format_space "#[bg=#272e33]"
            pipe_neovim_top_tabs_format "{output}"
            pipe_neovim_top_tabs_rendermode "dynamic"

            mode_locked  "#[fg=#272e33,bg=#272e33,bold] "
            mode_normal  "#[fg=#272e33,bg=#7fbbb3,bold] P #[fg=#7fbbb3,bg=#272e33,bold] Pane  #[fg=#272e33,bg=#83c092,bold] t #[fg=#83c092,bg=#272e33,bold] Tab  #[fg=#272e33,bg=#dbbc7f,bold] r #[fg=#dbbc7f,bg=#272e33,bold] Resize  #[fg=#272e33,bg=#9da9a0,bold] M #[fg=#9da9a0,bg=#272e33,bold] Move  #[fg=#272e33,bg=#d699b6,bold] s #[fg=#d699b6,bg=#272e33,bold] Scroll  #[fg=#272e33,bg=#e69875,bold] o #[fg=#e69875,bg=#272e33,bold] Session"
            mode_resize  "#[fg=#272e33,bg=#dbbc7f,bold] h/j/k/l #[fg=#dbbc7f,bg=#272e33,bold] Increase  #[fg=#272e33,bg=#dbbc7f,bold] H/J/K/L #[fg=#dbbc7f,bg=#272e33,bold] Decrease  #[fg=#272e33,bg=#dbbc7f,bold] +/- #[fg=#dbbc7f,bg=#272e33,bold] Size"
            mode_pane    "#[fg=#272e33,bg=#7fbbb3,bold] n #[fg=#7fbbb3,bg=#272e33,bold] New  #[fg=#272e33,bg=#7fbbb3,bold] h/j/k/l #[fg=#7fbbb3,bg=#272e33,bold] Focus  #[fg=#272e33,bg=#7fbbb3,bold] r/d/s #[fg=#7fbbb3,bg=#272e33,bold] Split  #[fg=#272e33,bg=#7fbbb3,bold] c #[fg=#7fbbb3,bg=#272e33,bold] Rename  #[fg=#272e33,bg=#7fbbb3,bold] f/w/e #[fg=#7fbbb3,bg=#272e33,bold] Full/Float/Embed  #[fg=#272e33,bg=#7fbbb3,bold] i/z #[fg=#7fbbb3,bg=#272e33,bold] Pin/Frames"
            mode_tab     "#[fg=#272e33,bg=#83c092,bold] n #[fg=#83c092,bg=#272e33,bold] New  #[fg=#272e33,bg=#83c092,bold] h/j/k/l #[fg=#83c092,bg=#272e33,bold] Prev/Next  #[fg=#272e33,bg=#83c092,bold] 1-9 #[fg=#83c092,bg=#272e33,bold] Jump  #[fg=#272e33,bg=#83c092,bold] [/]/b #[fg=#83c092,bg=#272e33,bold] Break  #[fg=#272e33,bg=#83c092,bold] r #[fg=#83c092,bg=#272e33,bold] Rename  #[fg=#272e33,bg=#83c092,bold] s #[fg=#83c092,bg=#272e33,bold] Sync"
            mode_scroll  "#[fg=#272e33,bg=#d699b6,bold] f #[fg=#d699b6,bg=#272e33,bold] Search  #[fg=#272e33,bg=#d699b6,bold] h/j/k/l #[fg=#d699b6,bg=#272e33,bold] Page/Scroll  #[fg=#272e33,bg=#d699b6,bold] d/u #[fg=#d699b6,bg=#272e33,bold] Half  #[fg=#272e33,bg=#d699b6,bold] e #[fg=#d699b6,bg=#272e33,bold] Edit"
            mode_session "#[fg=#272e33,bg=#e69875,bold] d #[fg=#e69875,bg=#272e33,bold] Detach  #[fg=#272e33,bg=#e69875,bold] w #[fg=#e69875,bg=#272e33,bold] Manager  #[fg=#272e33,bg=#e69875,bold] s #[fg=#e69875,bg=#272e33,bold] Share  #[fg=#272e33,bg=#e69875,bold] c #[fg=#e69875,bg=#272e33,bold] Config  #[fg=#272e33,bg=#e69875,bold] l #[fg=#e69875,bg=#272e33,bold] Layout  #[fg=#272e33,bg=#e69875,bold] p #[fg=#e69875,bg=#272e33,bold] Plugins  #[fg=#272e33,bg=#e69875,bold] a #[fg=#e69875,bg=#272e33,bold] About"
            mode_move    "#[fg=#272e33,bg=#9da9a0,bold] h/j/k/l #[fg=#9da9a0,bg=#272e33,bold] MovePane  #[fg=#272e33,bg=#9da9a0,bold] H/L #[fg=#9da9a0,bg=#272e33,bold] MoveTab  #[fg=#272e33,bg=#9da9a0,bold] n/p #[fg=#9da9a0,bg=#272e33,bold] Cycle"
        }
    }
    pane
    pane size=1 borderless=true {
        plugin location="zjstatus" {
            format_left   "{mode}{tabs}"
            format_right  "{pipe_neovim_bottom_slow}{pipe_neovim_bottom_fast}{datetime}"
            format_space "#[bg=#272e33]"
            pipe_neovim_top_tabs_format "{output}"
            pipe_neovim_top_tabs_rendermode "dynamic"
            pipe_neovim_bottom_slow_format "{output}"
            pipe_neovim_bottom_slow_rendermode "dynamic"
            pipe_neovim_bottom_fast_format "{output}"
            pipe_neovim_bottom_fast_rendermode "dynamic"

            hide_frame_for_single_pane "true"

            mode_locked  "#[fg=#e67e80,bold]  "
            mode_normal  "#[fg=#a7c080,bold]  "
            mode_resize  "#[fg=#a7c080,bold]  "
            mode_pane    "#[fg=#a7c080,bold]  "
            mode_tab     "#[fg=#a7c080,bold]  "
            mode_scroll  "#[fg=#a7c080,bold]  "
            mode_session "#[fg=#a7c080,bold]  "
            mode_move    "#[fg=#a7c080,bold]  "

            tab_normal "#[fg=#859289,bg=#272e33] {index} {name}{sync_indicator}{fullscreen_indicator}{floating_indicator} "
            tab_active "#[fg=#272e33,bg=#83c092,bold] {index} {name}{sync_indicator}{fullscreen_indicator}{floating_indicator} "

            tab_sync_indicator       " 󰓦"
            tab_fullscreen_indicator " 󰊓"
            tab_floating_indicator   " 󰹙"

            datetime        "#[fg=#272e33,bg=#7fbbb3,bold]  {format} "
            datetime_format "%H:%M"
            datetime_timezone "Asia/Tokyo"
        }
    }
}
